.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}


.logo{
    width: 200px;
}


.nav-items > ul {
    display: flex;
    list-style: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container{
        display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: lightblue;
}
.res-card{
margin: 5px;
    width: 200px;
   
    padding: 5px;
}

.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}